include _include/_defaultLayout.jade
!!!
html
  head
    mixin header("Nomina Paraguay")
    
  body
    #wrap
      .content
        mixin menu()

        div
          div.jumbotron
            div.container3
              div.col-sm-6
                h1 Nomina Paraguay
                p ¿Cuanto ganan los funcionarios?
                p <a href="/nomina" class="btn btn-primary btn-lg">Buscar</a>
                div.alert.alert-warning
                  h4 Cuidado - 3,8 MB
                  p ¡La búsqueda necesita cargar un archivo con aprox. 3,8 MB del servidor, 
                    | hay que tener suficiente banda ancha!  
              div.col-sm-6.text-right
                img(src="/img/shot1-400.png", alt="Pantallazo")
  
          h3 Sobre Nómina Paraguay
          p La idea de este sitio es consolidar las diferentes publicaciones sobre salarios 
            | de funcionarios de la república de Paraguay en un sitio.
          p Por el momento solamente encontramos los datos de las siguientes instituciones:
            ul
              li <a href="http://www.pj.gov.py/descargas/nomina-de-magistrados-y-funcionarios.pdf">Poder Judicial</a>
              li <a href="https://www.bcp.gov.py/userfiles/files/Funcionarios_Salarios_final.pdf">Banco Central</a>
              li <a href="http://www.hacienda.gov.py/web-hacienda/archivo.php?a=9a9a9da3aea7ada8ac68a99d9fac689faea79ca2a8a79aaba2a8ac98a6a1989ca8a7aca8a5a29d9a9da867a99d9f9a039&x=6565004&y=8a8a029">Hacienda</a>
              li <a href="http://www.petropar.gov.py/index.php/2013-09-16-08-12-57/nomina-de-funcionarios">Petropar</a>
              li <a href="http://www.ande.gov.py/documentos/NOMINA_PERSONAL_PERCIBEN_SALARIO.pdf">Ande</a>
          p Si usted ha encontrado publicaciones de sueldos de otras instituciones por favor envíenos el enlace a <a href="mailto:nomina&#64;sun.com.py">nomina&#64;sun.com.py</a> y lo agregamos cuando tengamos tiempo.    
           
          h3 Errores Conocidos
          ul
            li PDFBox tiene problemas analizando el archivo del Poder Judicial y por eso perdimos 80 funcionarios en la conversión.
            li El gráfico solamente funciona correctamente para instituciones que publican las antiguedades, para las otras generamos números aleatorios.
    
          h3 Para Desarrolladores
          p Si vos puedes convertir datos publicados de entes del estado en JSON vamos a poder publicarlas mucho más rápido.   
            | Puedes enviarnos un archivo en el formato abajo a <a href="mailto:nomina&#64;sun.com.py">nomina&#64;sun.com.py</a> y si quieres 
            | mencionamos tu colaboración en la página.
            | <pre>[{"nombre":"ALBERTO ARCADIO VARESINI CLOSA","cargo":"PROFESIONAL SUPERIOR I","categoria":"XP2","sueldo":3000000,"extra":0,"total":3000000,"antiguedad":"2011","estado":"C","institucion":"Poder Judicial"}, {"nombre":"BIENVENIDA TURQUIN DUARTE","cargo":"TECNICO ADMINISTRATIVO (I)","categoria":"C33","sueldo":6277735,"extra":450000,"total":6727735,"antiguedad":"1996","estado":"P","institucion":"Poder Judicial"}, ...]</pre>
          p Actualmente todo esta hecho en el cliente con CoffeeScript. Para poder cargar más funcionarios necitamos
            | un backend con Java, Scala o Groovy y Elasticsearch o SOLR. Estas bienvenido si quieres colaborar o si puedes proveer un servidor en Paraguay también. 


    mixin footer()
    